.row {
  display: flex;
  flex-direction: row;

}

.column {
  flex: 50%;
  align-self: center;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


mat-card-content{
  overflow: auto;
  height: 235px;
}

mat-card {
  width: 350px;
  padding: 1%;
  margin-top: 6%;
  margin-left: 15%;
}


#listOfItems{
  font-size: 13pt;
  font-family: 'Sen', sans-serif !important;
}


p {
  margin-left: 25%;
  margin-top: 4%;
  font-size: 14pt;
  font-family: 'Sen', sans-serif;
  color: rgb(20, 75, 141);
}

.datepicker{
  margin-left: 10%;
}

.slideToggleContainer{
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  font-family: 'Sen', sans-serif;
  color: rgb(20, 75, 141);
  margin-left: 30%;
  margin-top: 1%;
}

#canvas{
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-right: 50px;

}

#generateButton {
  background-color: rgb(120, 144, 156);
  color: whitesmoke;
  font-family: 'Sen', sans-serif;
  font-size: 12pt;
  margin-left: 30%;
  margin-top: 3%;
}

.scaleButton{
  float: right;
}

#logScale {
  margin-right: 3%;
}
