<div id="inputPanel">
  <p>Wybierz przedział czasowy</p>

  <mat-form-field  class="datepicker" [hideRequiredMarker]="true">
    <mat-label>Od</mat-label>
    <input type="date" matInput
           name="startDate"
           min="2020-01-22"
           max="{{yesterday | date:'yyyy-MM-dd'}}"
           [(ngModel)]="startDateForm" required>
  </mat-form-field>

  <mat-form-field class="datepicker" [hideRequiredMarker]="true">
    <mat-label>Do</mat-label>
    <input type="date" matInput
           name="endDate"
           min="2020-01-22"
           max="{{yesterday | date:'yyyy-MM-dd'}}"
           [(ngModel)]="endDateForm" required>
  </mat-form-field>

  <button mat-button (click)="calculate()" >Zatwierdź</button>

</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="country">
    <th mat-header-cell class="header" *matHeaderCellDef> Kraj </th>
    <td mat-cell class="countryCell" *matCellDef="let dataSource"> {{dataSource.countryPl}} </td>
  </ng-container>

  <ng-container matColumnDef="confirmedCases">
    <th mat-header-cell class="header" *matHeaderCellDef> Zachorowania w wybranym przedziale czasowym</th>
    <td mat-cell class="cell" *matCellDef="let dataSource"> {{dataSource.confirmedCases}} </td>
  </ng-container>

  <ng-container matColumnDef="deathCases">
    <th mat-header-cell class="header" *matHeaderCellDef> Zgony w wybranym przedziale czasowym </th>
    <td mat-cell class="cell" *matCellDef="let dataSource"> {{dataSource.deathsCases}} </td>
  </ng-container>

  <ng-container matColumnDef="recoveredCases">
    <th mat-header-cell  class="header" *matHeaderCellDef> Ozdrowienia w wybranym przedziale czasowym</th>
    <td mat-cell class="cell" *matCellDef="let dataSource"> {{dataSource.recoveredCases}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
