
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 60%;
  min-height: 60%;
}

.row {
  display: flex;
  flex-direction: row;

}
.column1 {
  flex:40%;
}

.column2 {
  flex: 60%;
}

mat-card-title{
  margin-top: 10px;
  font-family: 'Sen', sans-serif;
  font-size: 15pt;
  text-align: center;
  color: rgb(20, 75, 141);
}

mat-card-subtitle{
  margin-top: 50px !important;
  text-align: center;
}


