<div class="container">
  <mat-card class="row">
    <div class="column1">
      <img src="assets/j_hopkins.png">
    </div>
    <div class="column2">
      <mat-card-title>Dane wykorzystane do stworzenia tego projektu są aktualizowane codziennie przez Uniwersytet Johns Hopkins a ich źródłem jest repozytorium w systemie Git </mat-card-title>
      <mat-card-subtitle> Jest ono ogólnodostępne i można je znaleźć pod adresem:</mat-card-subtitle>
      <mat-card-subtitle> https://github.com/CSSEGISandData/COVID-19 </mat-card-subtitle>
    </div>
  </mat-card>

</div>



